/* переменные****************************************** */
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  --title-text-color: #212121;
  --primary-text-color: #757575;
  --accent-color: #2196f3;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.title {
  color: var(--title-text-color);
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
}
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0px auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* шапка страницы *****************************************/

.header .container {
  background-color: #ffffff;

  display: flex;
  align-items: center;
}
.nav {
  display: flex;
  align-items: center;
}
.nav-list {
  display: flex;
}
.nav-link.current {
  color: var(--accent-color);
}

.nav-item:not(:first-child),
.contacts-item:not(:first-child) {
  margin-left: 50px;
}

.contacts-list {
  display: flex;
}

.contacts-link {
  display: flex;
  align-items: center;
}

.icon-envelope,
.icon-phone {
  margin-right: 10px;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-envelope:hover,
.icon-envelope:focus {
  fill: var(--accent-color);
}

.icon-phone:hover,
.icon-phone:focus {
  fill: var(--accent-color);
}
/* Список социальных сетей********************* */
.sociale-list {
  display: flex;
}

.sociale-item:not(:first-child) {
  margin-left: 10px;
}

.sociale-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  background: rgba(255, 255, 255, 0.1);
}

.icon-sociale {
  width: 20px;
  height: 20px;

  fill: #ffffff;
}

/* лого ***************************************************/
.logo,
.logo-white,
.logo-black {
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;

  margin-left: 0px;
}

.logo {
  color: var(--accent-color);
}
.logo-white {
  color: #ffffff;
}
.logo-black {
  color: #000000;
}

/* навигация  и контакты INDEX  и PORTFOLIO**************************************/
.nav-list {
  margin-left: 93px;
  justify-content: space-between;
}

.nav-link {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  padding-top: 32px;
  padding-bottom: 32px;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

.contacts-list {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  margin-left: auto;
}
.contacts-link,
.type-link {
  color: #757575;
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-list .contacts-link:hover,
.contacts-list .contacts-link:focus {
  color: var(--accent-color);
}

.contacts-link:hover .icon-envelope,
.contacts-link:focus .icon-envelope,
.contacts-link:hover .icon-phone,
.contacts-link:focus .icon-phone {
  fill: var(--accent-color);
}

.current {
  position: relative;
}
.current::after {
  content: "";
  display: block;
  position: absolute;

  width: 100%;
  height: 4px;

  background: var(--accent-color);
  border-radius: 2px;

  bottom: 0;
}
/* тело страницы ***************************************/
/* банер **************************/
.section-baner {
  max-width: 1600px;

  background-color: #2f303a;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  padding: 200px 0px;
  margin-left: auto;
  margin-right: auto;
}
.title-baner {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;

  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 696px;
}
.baner-button {
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: var(--accent-color);

  padding: 10px 32px;
  border-radius: 4px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

/* Модальное окно*************************** */
.backdrop {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.2);
  transition-property: opacity, visibility;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  min-width: 528px;
  min-height: 581px;

  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.close-button {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;

  cursor: pointer;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:hover,
.close-button:focus {
  fill: var(--accent-color);
}

.modal {
  padding: 40px;
}
.modal-user-form {
  display: block;
}

.modal-form-head {
  font-size: 20px;
  font-weight: bold;
  line-height: 1.15;
  color: #212121;

  margin-bottom: 12px;
}

.modal-form-type {
  display: block;

  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-form-box {
  position: relative;
  display: block;
  margin-bottom: 10px;
}
.modal-form-input:focus {
  border-color: var(--accent-color);
}

.modal-form-input:focus + .modal-form-icon {
  fill: var(--accent-color);
}

.modal-form-input {
  position: relative;
  display: block;
  height: 40px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  padding-left: 42px;
  margin-top: 4px;
  outline: none;
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-feedback {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  resize: none;

  margin-top: 4px;

  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-feedback::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-feedback:focus {
  border-color: var(--accent-color);
}

.input-label {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  padding-left: 14px;
}

.checkbox-box {
  width: 15px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
}

.modal-form-checkbox:checked + .checkbox-box {
  background-color: var(--accent-color);
  background-image: url(../images/svg/iconcheck.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-origin: border-box;
  border-color: transparent;
}

.modal-form-checkbox:focus + .checkbox-box {
  border-color: var(--accent-color);
}

.modal-form-link {
  margin-left: 7px;
}

.contract-link {
  font-size: 14px;
  line-height: 1.71;
  text-decoration-line: underline;
  color: var(--accent-color);
}

.modal-submit-button {
  display: block;
  padding: 10px 55px;

  width: 200px;
  height: 50px;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;

  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  outline: none;
  cursor: pointer;
  border: transparent;

  margin: 0 auto;
}

/* секция преимущества **********************************/
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.advantages-title,
.work-title,
.team-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}

.advantages-title,
.team-title {
  color: var(--title-text-color);
}

.advantages-title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.advantages-list {
  display: flex;
}

.advantages-item:not(:first-child) {
  margin-left: 30px;
}
.advantages-item {
  width: 270px;
}

.advantages-icon {
  display: flex;
  height: 120px;
  justify-content: center;
  align-items: center;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

/* чем мы занимаемся************************************ */
.section-works {
  padding-top: 0px;
}
.works-title {
  text-align: center;
  margin-bottom: 50px;
}

.works-list {
  display: flex;
  justify-content: space-between;
}

.works-item {
  position: relative;
}
.works-description {
  position: absolute;
  width: 100%;
  bottom: 0px;

  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;

  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);

  padding-top: 27px;
  padding-bottom: 27px;
}
/* секция команда**************************************** */
.section-team {
  background: #f5f4fa;
}
.team-title {
  text-align: center;
  margin-bottom: 50px;
}
.team-list {
  display: flex;
  justify-content: space-between;
}
.team-item {
  text-align: center;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.person-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  margin-bottom: 10px;
}
.team-text {
  font-size: 16px;
  line-height: 1.18;
  margin-bottom: 16px;
}

.team-content {
  padding: 30px 0px;
}

.sociale-list-team {
  justify-content: center;
}

.sociale-link-transparent {
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.sociale-link-transparent:hover,
.sociale-link-transparent:focus {
  background-color: var(--accent-color);
}

.sociale-link-transparent:hover .icon-sociale-grey,
.sociale-link-transparent:focus .icon-sociale-grey {
  fill: #ffffff;
}
.icon-sociale-grey {
  fill: #afb1b8;
  transition-property: fill;
}
/* секция постоянные клиенты***********************************/
.section-clients {
  background: #ffffff;
}

.clients-title {
  text-align: center;
  margin-bottom: 50px;
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.clients-item {
  flex-basis: calc((100% - 6 * 30px) / 6);
  margin-top: 30px;
  margin-left: 30px;
}
.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;

  border: 1px solid #afb1b8;
  border-radius: 4px;

  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover .icon-logo,
.clients-link:focus .icon-logo {
  fill: var(--accent-color);
}

.clients-link:hover,
.clients-link:focus {
  border-color: var(--accent-color);
}

.icon-logo {
  width: 106px;
  height: 60px;
  fill: #afb1b8;
  transition-property: fill;
}

/* подвал страниц INDEX  и PORTFOLIO *******************************************/
.footer {
  left: 0px;
  background: #2f303a;
  padding: 60px 0px;
}

.footer .container {
  display: flex;
  align-items: baseline;
}

.footer-item:not(:last-child) {
  margin-bottom: 9px;
}
.footer-adress {
  font-style: normal;
  color: #ffffff;
}

.footer-mail,
.footer-tel {
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
}

.footer-adress,
.footer-mail,
.footer-tel {
  text-decoration: none;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-adress:hover,
.footer-adress:focus {
  color: var(--accent-color);
}
.footer-mail:hover,
.footer-mail:focus {
  color: var(--accent-color);
}

.footer-tel:hover,
.footer-tel:focus {
  color: var(--accent-color);
}

.footer-logo {
  display: inline-block;
  margin-bottom: 20px;
}

.footer-sociale {
  margin-left: 70px;
}
.sociale-title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;

  margin-bottom: 20px;
}

.sociale-link-dark {
  transition-property: background;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.sociale-link-dark:hover,
.sociale-link-dark:focus {
  background: var(--accent-color);
}

.subscription {
  margin-left: 93px;
}
.subscription-title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;

  margin-bottom: 20px;
}

.footer-input {
  width: 358px;
  height: 50px;

  background-color: transparent;
  padding: 15px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;

  color: #ffffff;
}

.footer-input:focus {
  border-color: var(--accent-color);

  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.footer-submit-button {
  display: inline-flex;
  align-items: center;
  text-align: center;

  width: 200px;
  height: 50px;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  padding: 10px;
  padding-left: 29px;
  margin-left: 12px;

  background: var(--accent-color);
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;

  cursor: pointer;
  outline: none;
}

/* POTFOLIO********************************************************************* */
.portfolio {
  border-bottom: 1px solid #ececec;
}
.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-button {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  background: #f5f4fa;
  cursor: pointer;

  border-radius: 4px;
  border-color: transparent;
  outline: none;
}

.filter-item:not(:first-child) {
  margin-left: 8px;
}
.filter-button {
  padding: 6px 22px;

  transition-property: background, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-button:hover,
.filter-button:focus {
  background: var(--accent-color);
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.type-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.type-item {
  flex-basis: calc((100% - 3 * 30px) / 3);
  margin-top: 30px;
  margin-left: 30px;

  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.type-item:hover,
.type-item:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.type-item:hover .type-description,
.type-item:focus .type-description {
  transform: translateY(0%);
}

.type-link {
  display: block;

  color: #757575;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.type-card {
  position: relative;
  overflow: hidden;
}

.portfolio-img {
  display: block;
  width: 100%;
}

.type-description {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: auto;

  transform: translateY(100%);

  color: #ffffff;
  background: rgba(33, 150, 243, 0.9);
  padding-left: 24px;
  padding-top: 63px;
  padding-right: 24px;
  padding-bottom: 63px;

  font-size: 18px;
  line-height: 1.56;

  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.type-cover {
  padding-left: 24px;
  padding-right: 24px;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  padding-top: 20px;
  padding-bottom: 20px;
}

.type-title {
  color: var(--title-text-color);
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  margin-top: 0;
}

.type-text {
  font-size: 16px;
  line-height: 1.8;
  margin-bottom: 0;
  margin-top: 0;
}
