.footer {
  left: 0px;
  background: #2f303a;
  padding: 60px 0px;
}

.footer .container {
  display: flex;
  align-items: baseline;
}

.footer-contacts__item:not(:last-child) {
  margin-bottom: 9px;
}
.footer-contacts__adress {
  font-style: normal;
  color: #ffffff;
}

.footer-contacts__mail,
.footer-contacts__tel {
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
}

.footer-contacts__adress,
.footer-contacts__mail,
.footer-contacts__tel {
  text-decoration: none;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contacts__adress:hover,
.footer-contacts__adress:focus {
  color: var(--accent-color);
}
.footer-contacts__mail:hover,
.footer-contacts__mail:focus {
  color: var(--accent-color);
}

.footer-contacts__tel:hover,
.footer-contacts__tel:focus {
  color: var(--accent-color);
}

.footer__logo {
  display: inline-block;
  margin-bottom: 20px;
}

.footer-sociale {
  margin-left: 70px;
}
.footer-sociale__title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;

  margin-bottom: 20px;
}

.subscription {
  margin-left: 93px;
}
.subscription__title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;

  margin-bottom: 20px;
}

.footer__input {
  width: 358px;
  height: 50px;

  background-color: transparent;
  padding: 15px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;

  color: #ffffff;
}

.footer__input:focus {
  border-color: var(--accent-color);

  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.footer__button {
  display: inline-flex;
  align-items: center;
  text-align: center;

  width: 200px;
  height: 50px;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  padding: 10px;
  padding-left: 29px;
  margin-left: 12px;

  background: var(--accent-color);
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;

  cursor: pointer;
  outline: none;
}

.icon-submit {
  margin-left: 10px;
}
